
@{
    ViewBag.Title = "Editar";
}

<title>Editar Cidade</title>
<h3 class="text-center mb-3 mt-3 text-info">Edição de Cidade</h3>

<form action="/cidade/update" method="post">
    <input type="hidden" name="id" value="@ViewBag.Cidade.Id" />

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="text" name="nome" class="form-control" id="campo-nome" value="@ViewBag.Cidade.Nome" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-estado">Estado</label>
                <select class="form-control" name="estado">
                    <option disabled="disabled" selected="selected">Selecione um Estado</option>
                    @foreach (Model.Estado estado in ViewBag.Estados)
                    {
                        if (estado.Id == ViewBag.Cidade.IdEStado)
                        {
                            <option value="@estado.Id" selected="selected">@estado.Nome</option>
                        }
                        else
                        {
                            <option value="@estado.Id">@estado.Nome</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <dic class="form-group">
                <label for="campo-numhabitantes">Numero Habitantes</label>
                <input type="text" name="numHabitantes" class="form-control" id="campo-numHabitantes" />
            </dic>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success float-right"> <i class="fas fa-save"></i> Salvar</button>
        </div>
    </div>
</form>